@model Person
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <h5 class="card-title">@Model.Surname</h5>

                    <form method="post">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                        <a asp-action="Index" class="btn btn-outline-dark">GO BACK</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

